nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  display: inline
}

li a {
  text-decoration: none;
  color: green;
  display: block;
  float: left;
  padding: 15px 50px
}

li a:hover {
  background-color: lightgreen;
  color: black
}

body {
  background-color: #8EA4D2
}
h2 {
  color: white;
  font-family: "Monaco", monospace;
  text-decoration: overline underline 3px #49516F;
}

img {
  width: 30%;
  height: auto;
}
img:hover {
  width: 40%;
}

h2:hover {
  color: black;
  font-size: 200%;
}
